<!DOCTYPE html>
<html lang="en" class="min-h-screen bg-slate-800">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Usuarios</title>
	</head>
	<body class="flex flex-col justify-center items-center min-h-screen">
		<div class="w-full max-w-5xl px-16 py-5 bg-slate-100 rounded-xl flex flex-col items-center">
			<h1 class="text-2xl text-center font-bold">Usuarios</h1>
			<br />
			<table class="table-auto w-full">
				{% for x in users %}
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Identificación</th>
						<th>Rol</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>{{ x.id }}</td>
						<td>{{ x.name }}</td>
						<td>{{ x.lastName }}</td>
						<td>{{ x.dni }}</td>
						<td>{{ x.rol }}</td>
						<td class="flex flex-col">
							<a class="text-slate-800" href="{% url 'updateUser' x.id %}">Actualizar</a>
							<a class="text-red-400" href="{% url 'deleteUser' x.id %}">Eliminar</a>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
			<br />
			<div class="flex gap-7">
				<a class="p-2 bg-slate-600 text-white rounded-md" href="{% url  'createUser' %}">Crear Usuario</a>
				<a class="p-2 bg-slate-200 rounded-md" href="{% url  'dash' %}">Volver Atrás</a>
			</div>
		</div>
	</body>
</html>
